BODY {
    font-family: sans-serif;
    background-image: url('/static/images/background.png');
    background-repeat: repeat-x;
}

A {
    color: #003366;
    text-decoration: none;
}

A:HOVER {
    color: #990000;
    text-decoration: none;
}

.identity {

}

.top .identity .left {
    float: left;
    width: 50%;
}

.top .identity .right {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 12px;
}

.top .menubar ul {
    padding: 0px;
}
    
.top .menubar li {
    float: left;
    list-style: none;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #777777;
    font-weight: bold;
}

.box {
    border-bottom: solid 2px #666666;
    margin-bottom: 20px;
    font-size: 12px;
    background-color: #F4F4F4;
}

.box .title {
    background-color: #990000;
    border-bottom: solid 1px #666666;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.box ul {
    padding-left: 10px;    
}

.box li {
    list-style: none;
    font-size: 12px;
    padding-bottom: 10px;
}

.content {
    padding-top: 20px;
}

.content .left{
    float:left;
    width:200px;
}

.bottom {
    border-top: solid 1px #CCCCCC;
    text-align: center;
    padding: 20px;
    font-size: 10px;
    margin-top: 20px;
}

.middle {
    float: left;
    padding-left: 20px;
    width:70%;
    font-size: 12px;
}

.serial_logo {
    text-align: left;
}

.serial_header {
    font-size: 10px;
    margin-bottom: 10px;
}

.middle .navegation {
    margin-bottom: 60px;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

.middle .navegation .title {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid gray;
    padding: 2px;
    height: 16px;
    -moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;      
}

.middle .navegation .options {
    float: left;
    border: 2px solid gray;
}

.middle .navegation .options ul{
    padding: 0px;
    margin: 0px;
    
}

.middle .navegation .options li{
    float: left;
    list-style: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    background-color: #CCCCCC;
    padding: 2px;
    height: 16px;
    border-left: 2px solid gray;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;    
}

.middle .navegation .options li .selected{
    color: #FFFFFF;
}
.highlights {
    float: left;
    width: 40%;
    margin: 20px;
    border-bottom: solid 2px #666666;    
}

.highlights .title {
    border-bottom: solid 1px #666666;
    padding: 5px;
    background-color: #DFE6F5;
    font-weight: bold;
}

.spacer {
    clear: both;
}

.issues_table {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

.issues_table th{
    font-size: 13px;
    background-color: gray;
    width: 100px;
    padding: 10px;    
    
}

.issues_table td{
    font-size: 12px;
    background-color: #DCDCDC;
    width: 100px;
    padding: 10px;
}

.articles_list li {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    
}

.authors_list{
    padding: 0px;
    margin: 0px;
}

.authors_list li{
    color: #212121;
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;
    list-style: none;
    padding: 0px;
    font-weight: normal;
    font-size: 12px;
}

.options_list {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;    
}

.options_list li {
    font-size: 10px;
    float: left;
    list-style: none;
    font-weight: normal;
    margin-left: 20px;
}

.search {
    background-color: #EEEEEE;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    border: 2px solid #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    
}

.search .sectionHeading{
    text-align: left;
    margin: 0px;
    padding: 0px;   
    
}
